#kaocha/v1
{:plugins [:kaocha.plugin/notifier
           :kaocha.plugin/print-invocations
           :kaocha.plugin/profiling]

 :tests [{:id :clj}
         {:id :cljs
          :type :kaocha.type/cljs}]}
